<!DOCTYPE html>
<head>
    <title>Hello</title>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          renderMathInElement(document.body, {
            delimiters: [
              {left: "$$", right: "$$", display: true},
              {left: "$", right: "$", display: false}
            ]
          });
        });
      </script>
</head>
<body>
    <h1>Urmom</h1>
    <p>Inline formula: $E=mc^2$</p>
    <p>Block formula:</p>
    <p>$$
        {{question_data['equation']}}
        $$
    </p>
    <ul>
    {% for answer in question_data['shuffled_questions']%}
    <li>
        {{answer}}
    </li>
    {% endfor %}
    </ul>
</body>